NPR/Library/
NPR/Temp/
*.xml
NPR/.idea/.idea.NPR/.idea/riderModule.iml
NPR/Assets/Plugins/Editor/JetBrains/
NPR/Assets/Plugins/Editor/JetBrains.meta
NPR/obj/Debug/
NPR/Assets/NewBehaviourScript.cs
NPR/Assets/NewBehaviourScript.cs.meta
